* {scroll-behavior: smooth; margin:0; padding:0;outline: none;box-sizing: border-box;list-style: none;text-decoration: none;}
/*
::selection {}
*/

ul {list-style-type: none;}
a {text-decoration: none;}
/*grammarly BS*/
div.grammarly-desktop-integration {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border: 0;-moz-user-select: none;-webkit-user-select: none;-ms-user-select:none;user-select:none;}

div.grammarly-desktop-integration:before {content: attr(data-content);}
/*Loading I guess*/
.CC4A-loading-wrapper {width: 100%;height:100%;position: fixed;top: 0;z-index: 100%;}
.CC4A-loading-wrapper .CC4A-loading-letters {position: fixed;bottom: 50%;right: 50%;}
.CC4A-loading-letters{animation-name: CC4A-Loading;animation-duration:1.6s;animation-iteration-count:infinite;animation-direction: linear;}
/*Change the font weight and style, dont't think this will work*/
.l-1 {animation-delay: 0.48s;}
.l-2 {animation-delay: 0.6s;}
.l-3 {animation-delay: 0.72s;}
.l-4 {animation-delay: 0.84s;}
.l-5 {animation-delay: 0.96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}
@keyframes CC4A-Loading {0% {opacity: 0;}100% {opacity: 1;}}
/*Body*/
/*Header*/
header{background-color: #009b77;}/*Change the background color*/
header header-scrolled {background-color: transparent;}
label.CC4A-logo {display: flex;}/*fix this PLEASE*/
label.strong {font-weight: bold;font: size 35px;line-height: 80px;padding: 0 100px;}
.CC4A-navigation {background-color: purple;color: white;}
nav ul {float: right;margin:20px;}
nav ul li {display: inline-block;line-height: 80px;margin:0 5px;}
nav ul li a {font-size:17px;padding:7px 13px;border-radius:10px ;text-transform: uppercase;}
a.home,a:hover{background-color: aquamarine;transition: .5s;}
.checkbutton {font-size: 30px;color: white; float: right;line-height: 80px;margin: right 40px;cursor: pointer;}
#check{display: none;}
@media (max-width: 952px){label.logo{font-size: 30px;padding-left: 50px;}nav ul li a{font-size:16px;}}
@media (max-width: 858px){.checkbutton{display: block;}ul{position: fixed;width: 100%;height:100vh;background-color: #2c3e50;top: 80px;left: -100%;text-align: center;transition: all .5s;}nav ul li{display: block;margin:50px 0;line-height:30px;}nav ul li a{font: size 20px;}a:hover, a.home{background:none;color:#0082e6}#check:checked ~ ul{left:0;}}
section{background:url() no-repeat;background-size:cover;height:calc(100vh - 80px)}
.CC4A-nav-list a{text-decoration: none;}

/*Main*/
main {background-color: aqua; padding:30px;}
/*Footer*/
footer {background-color: blue;}


